footer.footer {
  text-align: center;
  padding: 30px 0;
  margin-top: 70px;
  border-top: 1px solid #E5E5E5;
}

.source-icon{
  font-size: 50px;
  color: #043867;
  &:hover {
    color: #2c6294;
  }
}
